/* General Navbar Styling */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	background-color: var(--orange-1);
	font-family: var(--font-family);
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand h1 {
	font-size: 1.5rem;
	margin: 0;
	font-weight: 400;
	white-space: nowrap;
	color: white;
}

.navbar-center {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.navbar-link {
	background: none;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	font-family: var(--font-family);
	color: white;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Right: Icon Buttons */
.navbar-icons {
	display: flex;
	gap: 15px;
}

.navbar-icon {
	color: var(--white) !important;
	font-size: 1.5rem;
	cursor: pointer;
}